@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');
:root {
    --primary: #2b3d56 !important;
    --base2: #003b71;
    --base3: #2b3d56;
    --dark-gray: #808184;
    --light-gray: #bbbdbf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url(../img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

label {
    color: white !important;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

header .container-fluid {
    width: 100%;
    height: 100%;
    z-index: 5;
}

.banner-principal {
    background-image: url(../img/BGRM.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 3;
}

.banner-principal::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(8, 12, 36, 0.85), rgba(0, 0, 0, 0.9));
    z-index: -2;
}

.banner-principal .container-fluid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner-title {
    font-weight: 700;
    font-size: 77px;
    color: white;
    margin-bottom: 1px;
}

a.icon-hredes {
    font-size: 30px;
    padding: .4rem;
    color: var(--light-gray);
    display: block;
}

a.icon-hredes:hover {
    color: var(--primary);
}

.profesiones span {
    padding: .2rem .5rem;
    background-color: rgba(230, 228, 228, .12);
    color: white;
    border-radius: 25px;
    margin: 0 2px;
    font-size: 16px;
}

.profesiones {
    margin-top: 25px;
}

.top-nav-collapse {
    background-color: var(--base3);
    color: black !important;
}

.navbar {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 100;
    transition: 0.7s;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
}

.nav-item {
    height: 100%;
    width: 100px;
    text-align: center;
    font-size: 16px;
    transition: 0.7s;
}

.navbar-brand img {
    height: 2.2rem;
    padding-left: 35%;
}

.nav-link {
    display: block;
    color: white !important;
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    transition: 0.7s;
}

nav.down {
    background: var(--primary);
    height: 50px !important;
}

nav.down ul li a {
    color: white;
    font-weight: 500;
}

.nav-link:hover {
    background-color: white;
    transition: 0.7s;
    font-weight: 600;
    color: var(--primary) !important;
    border-radius: 10px;
}

.down .nav-link:hover {
    background-color: white;
    transition: 1s;
    font-weight: 600;
    color: var(--primary);
    border-radius: 10px;
}

.down .navbar-brand img {
    background-image: url(/img/LogoRMBC.png) !important;
}

.logo img {
    width: 9%;
}

.logo {
    margin-left: 35px;
}

section {
    width: 100%;
    height: 100vh;
    padding-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-section {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.contenedor {
    width: 90%;
    display: flex;
    padding-top: 30px;
}

.contenedor-card {
    width: 100%;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .15);
    margin-top: 45px;
    max-height: 250px;
    background-color: white;
}

.card-service i {
    font-size: 30px;
    color: var(--primary);
    padding-bottom: 15px;
}

.card-service span {
    text-align: justify;
    font-size: 12.5px;
}

.carousel {
    max-height: 470px;
    width: 470px;
    overflow: hidden;
    border-radius: 15px;
    border-collapse: collapse;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, .30);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    top: 45%;
    max-width: 3em;
    height: 3em;
    background-color: #959595;
    border-radius: 100%;
}

.contenedor-skill,
.contenedor-experience {
    width: 50%;
    padding: 15px 60px;
}

.title-contenedor {
    text-align: center;
}

.contenedor-experience p {
    padding-top: 20px;
    text-align: justify;
    font-size: 14px;
}

.btn-header {
    text-decoration: none;
    font-size: 13px;
    border: 2px solid var(--primary);
    border-radius: 5px;
    padding: 5px 5px;
    color: black;
}

.btn-header:hover {
    background-color: var(--primary);
    color: white;
}

.skill {
    margin-top: 10px;
}

.title-skill {
    font-size: 12px;
    color: var(--primary);
    font-weight: 400;
}

.skill-bar {
    height: 9px;
    width: 100%;
    background-color: var(--light-gray);
    margin-top: .25rem;
    border-radius: 5px;
    position: relative;
}

.skill-bar.item1::before {
    content: '';
    height: 100%;
    width: 80%;
    background-color: var(--primary);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.skill-bar.item2::before {
    content: '';
    height: 100%;
    width: 90%;
    background-color: var(--primary);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.skill-bar.item3::before {
    content: '';
    height: 100%;
    width: 85%;
    background-color: var(--primary);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.skill-bar.item4::before {
    content: '';
    height: 100%;
    width: 75%;
    background-color: var(--primary);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.skill-bar.item5::before {
    content: '';
    height: 100%;
    width: 62%;
    background-color: var(--primary);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

footer {
    background-color: var(--primary);
}

footer .container {
    justify-content: center;
    text-align: center;
}

footer p {
    color: white;
    font-weight: 400;
}

.icon-fRedes {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 0px 10px;
}

@media screen and (max-width: 768px) {
    section {
        height: auto;
    }
}

@media screen and (max-width: 992px) {
    .nav-item {
        width: 100%;
    }
    footer p {
        font-size: 15px;
    }
}

@media screen and (max-width: 576px) {
    footer p {
        font-size: 12px;
        padding-top: 8px;
    }
    .navbar-collapse {
        background-color: var(--primary);
    }
}